div.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

div.row {
    margin-right: 0;
    margin-left: 0;
}

#sidebarItemExpanded {
    margin-top: 0.8em;
}


.img-container {
    text-align: center;
}

.img-container img {
    width: 100%;
    max-width: 571px;
    margin-top: 0.8em;
}
